<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro - SubastALL</title>
  <link rel="stylesheet" href="/css/stylesSignup.css">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h2>SubastALL 🔨</h2>
      <form id="registerForm">
        <input type="text" placeholder="Nombre Completo" required>
        <input type="email" placeholder="Correo Electrónico" required>
        <select required>
            <option value="" disabled selected>Género</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otro">Otro</option>
          </select>
        <input type="password" placeholder="Contraseña" required>
        <input type="password" placeholder="Confirmar Contraseña" required>
        <input type="password" placeholder="Confirmar Contraseña" required>
        <button type="submit">Registrarse</button>
      </form>
      <p>-o registra también con-</p>
      <div class="social-login">
        <button class="google">Google</button>
        <button class="apple">Apple ID</button>
        <button class="facebook">Facebook</button>
      </div>
      <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>
